*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fredoka', sans-serif;
}

:root{
  --title: #E52F71;
  --bg-body: #F9F8F9;
  --bg-cards: #0F0E17;
  --card-evd: #3C94BD;
  --card-text: #ffffff;
}

body{
  background-color: var();
}

/* per le tabelle sempre dentro i parent (contenitori) */
/* vale anche per i conteniti (child) dentro altri contenitori (parent) */
.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

h1{
  color: var(--title);
  padding-top: 30px;
}

.text {
  text-align: center;
}

.p15 {
  padding: 20px 15px;
}

.col{
  float: left;
  width: calc(100%/3);
}

.card{
  background-color: var(--bg-cards);
  color: var(--card-text);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
small{
  color: var(--card-evd);
}

img{
  float: left;
  width: 100px;
}

.cardtext{
  padding: 1rem;
  float: left;
}
